@inject ICurrencyService CurrencyService

<div class="balance-list-container">
    <table>
        <tr>
            <th>Currency</th>
            <th>Amount</th>
            <th>Usd amount</th>
            <th>Actions</th>
        </tr>
        @foreach (var currency in CurrencyService.GetCurrencies().Select(c => c.Id))
        {
            <BalanceListItem Currency="@currency" 
                             Amount="Balances.ContainsKey(currency) ? Balances[currency].Amount : 0"
                             UsdAmount="Balances.ContainsKey(currency) ? Balances[currency].UsdAmount : 0" 
                             UserId="UserId"/>
        }
    </table>
</div>

@code {
    [Parameter] public IDictionary<string, BalanceDTO> Balances { get; set; } = new Dictionary<string, BalanceDTO>();
    [Parameter] public int UserId { get; set; }
}
