@inject IUserBalanceService UserBalanceService
@inject ICurrencyService CurrencyService
@inject UserStore UserStore

<p>Total Usd @String.Format("{0: 0.000}", totalUsd)</p>
<BalanceList>
    @foreach (var currency in CurrencyService.GetCurrencies().Select(c => c.Id))
    {
        if (balances is not null && balances.ContainsKey(currency)) 
        {
            <Balance Currency="@currency" Amount="balances[currency].Amount " UsdAmount="balances[currency].UsdAmount" />
        }
        else
        {
            <Balance Currency="@currency" />
        }

    }
</BalanceList>

@code {
    private Dictionary<string, BalanceDTO>? balances;
    private decimal totalUsd;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var userId = UserStore.CurrentUser.GetId()!.Value;

        var userBalances = UserBalanceService.GetUserBalances(userId).Balances;
        balances = UserBalanceService.ConvertToBalanceDTO(userBalances);
        totalUsd = balances?.Values.Sum(v => v.UsdAmount) ?? 0;
    }
}
