@inject IUserBalanceService UserBalanceService
@inject UserStore UserStore


@if(balances is null)
{
    <h4>Loading...</h4>
}
else{
    <p>Total Usd @String.Format("{0: 0.000}", totalUsd)</p>
    <BalanceList>
        @foreach (var balance in balances)
        {
            <Balance Currency="@balance.Key" Amount="balance.Value.Amount" UsdAmount="balance.Value.UsdAmount" />
        }
    </BalanceList>
}
@code {
    private Dictionary<string, BalanceDTO>? balances;
    private decimal totalUsd;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var userId = UserStore.CurrentUser.GetId()!.Value;

        var userBalances = UserBalanceService.GetUserBalances(userId).Balances;
        balances = UserBalanceService.ConvertToBalanceDTO(userBalances);
        totalUsd = balances.Values.Sum(v => v.UsdAmount);
    }
}
