@inject IUserBalanceService UserBalanceService
@inject UserStore UserStore

<p>Total Usd @String.Format("{0: 0.000}", totalUsd)</p>
<BalanceList Balances="balances" />

@code {
    private Dictionary<string, BalanceDTO>? balances;
    private decimal totalUsd;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var userId = UserStore.CurrentUser.GetId()!.Value;

        var userBalances = UserBalanceService.GetUserBalances(userId).Balances;
        balances = UserBalanceService.ConvertToBalanceDTO(userBalances);
        totalUsd = balances?.Values.Sum(v => v.UsdAmount) ?? 0;
    }
}
