@inject IUserBalanceService UserBalanceService
@inject UserStore UserStore

<p>Total Usd @String.Format("{0: 0.000}", totalUsd)</p>
<BalanceList UserId="@UserId" Balances="balances" />

@code {
    [Parameter] public int UserId { get; set; }

    private Dictionary<string, BalanceDTO>? balances;
    private decimal totalUsd;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var userBalances = UserBalanceService.GetUserBalances(UserId).Balances;
        balances = UserBalanceService.ConvertToBalanceDTO(userBalances);
        totalUsd = balances?.Values.Sum(v => v.UsdAmount) ?? 0;
    }
}
