@inject IHttpClientFactory ClientFactory
@inject UserStore UserStore

<button class="btn btn-primary" @onclick="OnSignOut">Logout</button>

@code {
    private async Task OnSignOut()
    {
        using var client = ClientFactory.CreateClient();
        await client.PostAsJsonAsync(ApiURL.LOGOUT_URL, "");
        UserStore.CurrentUser = new ClaimsPrincipal();
    }
}
