@inject IUserBalanceService UserBalanceService
@inject NavigationManager Navigation

<tr>
    <td>@Model.Username</td>
    <td>@String.Format("{0: 0.000}", totalUsd)</td>
    <td>
        <button class="btn btn-primary" @onclick="() => GoToPersonalPage(Model.Id)">Show</button>
        @if (Model.Role is UsersRole.USER)
        {
           <button class="btn btn-secondary" @onclick="() => GoToTransactions(Model.Id)">Transactions</button>
        }
    </td>
</tr>

@code {
    [Parameter] public User Model { get; set; }

    private decimal totalUsd = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        totalUsd = CalculateTotalUsd();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        totalUsd = CalculateTotalUsd();
    }

    private decimal CalculateTotalUsd()
    {
        var userBalances = UserBalanceService.GetUserBalances(Model.Id).Balances;
        var balances = UserBalanceService.ConvertToBalanceDTO(userBalances);
        return balances?.Values.Sum(b => b.UsdAmount) ?? 0;
    }

    private void GoToTransactions(int id)
        => Navigation.NavigateTo($"transactions/{id}");

    private void GoToPersonalPage(int id)
        => Navigation.NavigateTo($"users/{id}");
}
