@inject IUserBalanceService UserBalanceService
@inject NavigationManager Navigation

<tr>
    <th>@UserModel.Username</th>
    <th>@String.Format("{0: 0.000}", totalUsd)</th>
    <th>
        <button class="btn btn-primary" @onclick="() => GoToPersonalPage(UserModel.Id)">Show</button>
        @if (UserModel.Role is UsersRole.USER)
        {
           <button class="btn btn-secondary" @onclick="() => GoToTransactions(UserModel.Id)">Transactions</button>
        }
    </th>
</tr>

@code {
    [Parameter] public User UserModel { get; set; }

    private decimal totalUsd = 0;

    private void GoToTransactions(int id)
        => Navigation.NavigateTo($"transactions/{id}");

    private void GoToPersonalPage(int id)
        => Navigation.NavigateTo($"users/{id}");

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var userBalances = UserBalanceService.GetUserBalances(UserModel.Id);
        var balances = UserBalanceService.ConvertToBalanceDTO(userBalances);
        if (balances is not null && balances.Values.Count() != 0)
            totalUsd = balances.Values.Select(v => v.UsdAmount).Aggregate((x, y) => x + y);
    }
}
