<div class="users-list-container">
    <table>
        <tr>
            <th>Username</th>
            <th>Usd balance</th>
            <th>Buttons</th>
        </tr>
        @foreach (var user in (Users ?? Array.Empty<User>()))
        {
            <UserListItem Model="@user" />
        }
        
    </table>
</div>

@code {
    [Parameter] public IEnumerable<User>? Users { get; set; }
}
