@page "/transactions"

@inject UserStore UserStore

@attribute [Authorize]

<PageTitle>Transactions</PageTitle>

<h3>Transactions</h3>

<AuthorizeView Roles="@UsersRole.ADMIN">
    <TransactionsPage/>
</AuthorizeView>

<AuthorizeView Roles="@UsersRole.USER">
    <TransactionsPage UsersId="new[] { UserStore.CurrentUser.GetId()!.Value }"/>
</AuthorizeView>