@page "/transactions/{userId:int}/{currency}"

@attribute [Authorize(Roles = UsersRole.ADMIN)]

<PageTitle>Transactions</PageTitle>

<h3>Transactions</h3>

<TransactionsPage UsersId="new[] { UserId }" CurrenciesId="new[] { Currency }" />

<BackButton />

@code {
    [Parameter] public string Currency { get; set; }
    [Parameter] public int UserId { get; set; }
}
