@page "/transactions/{userId:int}"

@attribute [Authorize(Roles = UsersRole.ADMIN)]

<PageTitle>Transactions</PageTitle>

<h3>Transactions</h3>

<TransactionsPage UsersId="new[] { UserId }" />

<BackButton />

@code {
    [Parameter] public int UserId { get; set; }
}
