@page "/wallet"

@inject UserStore UserStore

@attribute [Authorize(Roles = UsersRole.USER)]

<PageTitle>Wallet</PageTitle>

<h3> Wallet </h3>
<BalancePage UserId="UserStore.CurrentUser.GetId()!.Value" />